<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.106.13" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.103.43" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Razorpay" version="3.0.2" targetFramework="net48" />
  <package id="TinyMCE" version="6.4.1" targetFramework="net48" />
  <package id="TinyMCE.MVC" version="3.4.7" targetFramework="net452" />
</packages>