@model IEnumerable<DAL.Entities.tbl_course_branch>

@{
    ViewBag.Title = "GetAllCourseBranch";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Branches</h3><br /><br />
        <a href="@Url.Action("CreateCourseBranch","SuperAdmin")" class="create">
            Create
        </a>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Branch Name
                    </th>
                    <th>Operation</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>
                            @item.branchname
                        </td>
                        <td>
                            <a href="@Url.Action("UpdateCourseBranch", new { coursebranchid = item.coursebranchid })" class="update">
                                Update
                            </a>
                            <a href="@Url.Action("DeleteBranch", new { coursebranchid = item.coursebranchid })" class="delete" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                Delete
                            </a>
                        </td>
                    </tr>
                }

        </table>
        </div>
</div>